<template>
    <div>
        <ul id="restaurantList" v-if="restaurantList">
            <li v-for="restaurant in restaurantList" :key="restaurant.place_id">
                <strong>{{restaurant.name}}</strong>
                <p>
                    <router-link :to="{name:'restaurantDetail', params:{id: restaurant.place_id}}">ver</router-link>
                </p>
            </li>
        </ul>
        <span v-else>Cargando restaurantes</span>
    </div>
</template>


<script>
import axios from 'axios';
export default {
    name: 'restaurant-list',
    mounted() {
        this.getRestaurantList();
    },
    data() {
        return {
            text: "Página Lista de restaurantes",
            restaurantList: null
        }
    },
    methods: {
        getRestaurantList() {
            axios.defaults.baseURL = 'https://maps.googleapis.com/maps/api/place/nearbysearch/';
            const params = '/json?location=40.46023464274291,-3.684593439102173&radius=500&type=restaurant&keyword=cruise&key= AIzaSyBDQWIOEMBnMuy_HRsdQeQp0UDPJPnTG70';
            
            axios.get(params)
                .then((response) => {
                    this.restaurantList = response.data.results;
                });
        }
    }
}
</script>

<style lang="scss">
    #restaurantList{
        padding: 5px;
        li{
            margin-top: 10px;
            width: 30%;
            height: 120px;
            border: 1px solid #dddddd;
            background: #eeeeee;
            padding: 20px;
            overflow: hidden;
        }
    }
</style>
