<template>
    <h2>{{text}} - ID = {{id_restaurant}}</h2>
</template>

<script>
export default {
    name: 'restaurant-top',
    mounted(){
        this.id_restaurant = this.$route.params.id;
    },
    data(){
        return {
            text: "Página Restaurante TOP",
            id_restaurant: null
        }
    }
}
</script>
