<template>
    <div>
        <h1>Detalle Restaurante - {{restaurantId}}</h1>
        <div id="restaurant-detail" v-if="restaurant">
            <h2 v-text="restaurant.name"></h2>
            <p>{{restaurant.formatted_address}}</p>
            <img :src="photo">
        </div>
        <span v-else>Cargando datos del restaurante</span>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'restaurant-detail',
    mounted() {
        this.restaurantId = this.$route.params.id;
        axios.defaults.baseURL = 'https://maps.googleapis.com/maps/api/place/details/'
            const parameters = 'json?placeid=' + this.restaurantId + '&key=AIzaSyBDQWIOEMBnMuy_HRsdQeQp0UDPJPnTG70'

            axios.get(parameters)
            .then((response) => {
                    this.restaurant = response.data.result;
                    this.photo = this.getPhotoUrl(this.restaurant.photos);
                });
    },
    data() {
        return {
            restaurantId: null,
            restaurant: null,
            photo: null
        }
    },
    methods: {
        getLocationDetail(placeId) {

        },
        getPhotoUrl(photos) {
            if (!photos) {
                return null;
            }

            const photoReference = photos[0].photo_reference;
            const photoURL = 'https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=' + photoReference + '&key=AIzaSyBDQWIOEMBnMuy_HRsdQeQp0UDPJPnTG70'

            return photoURL;
        }
    }
}
</script>
