<!DOCTYPE HTML>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Curso de vue.js 2</title>
    <style>
        .like {
            background: green;
            color: white;
            padding: 20px;
        }
    </style>
</head>

<body>
    <div id="app">
        {{text}}
    </div>

    <div id="vue3">
        {{text}}
    </div>

    <main>
        <!-- Imprimir el contenido de una variable del modelo y una instancia VUE-->
        <h1>{{texto}}</h1>
        <h2 v-text="texto"></h2>
        <hr/>

        <!-- Two way data-binding y reactividad-->
        <input type="text" v-model="default_name" />
        <p>El nombre es: {{default_name}}</p>
        <hr/>

        <!-- Condiciones if -->
        <input type="text" v-model="qualification" />
        <strong v-if="qualification && qualification >= 5">
            ¡¡Aprobado!! tu nota es {{qualification}}
        </strong>
        <span v-else-if="qualification">
            ¡¡Suspendiste!! tu nota es {{qualification}}
        </span>
        <hr/>

        <!-- Directivas de iteración -->
        <h1>Listado de series</h1>
        <ol>
            <li v-for="serie in series">{{serie}}</li>
        </ol>
        <hr/>

        <h1>Lista de frutas</h1>
        <ul>
            <li v-for="(fruit, index) in fruits">
                {{index+1}}: {{fruit.name}} - {{fruit.season}}
            </li>
        </ul>

        <h1>Recorrer elementos superfruta</h1>
        <ul>
            <li v-for="(value, key, index) in superfruit">
                {{index}}: {{key}} - {{value}}
            </li>
        </ul>
        <hr/>

        <!-- Eventos -->
        <form @submit.prevent="addMovie()">
            <input type="text" v-model="newMovie">
            <input type="submit" value="Añadir película">
        </form>

        <h1>Listado de series</h1>
        <ol>
            <li v-for="(serie,index) in orderedMovies">
                {{serie}}
                <button @click="deleteMovie(index)">Eliminar serie</button>
            </li>
        </ol>

        <!-- 
            <button v-on:click="addMovie()">Añadir película</button>
            <button @click="deleteMovie()">Eliminar película</button> 
        -->
        <hr/>

        <!-- Propiedades computadas -->
        <h1>{{nameAndSurname}}</h1>
        <hr/>

        <!-- Filtros-->
        <h4>Buscar fruta</h4>
        <input type="search" v-model="searchParameter" placeholder="Buscar fruta">
        <ol>
            <li @click="checkFruit(index)" v-bind:class="{like: index == confirmed}" v-for="(fruit,index) in searchFruit">
                {{fruit.name | uppercase}}
            </li>
        </ol>
        <hr/>

        <!-- Componentes -->
        <movies></movies>
        <fruits></fruits>
        <h1>Get mediante component:</h1>
        <posts></posts>
        <hr/>

        <!-- AJAX y HTTP-->
        <h1>Resultado del get:</h1>
        <ul v-if="posts">
            <li v-for="post in posts">{{post.title}}</li>
        </ul>
        <span v-else>Cargando lista de posts</span>
        <hr/>

        <!-- Plantillas en linea y props -->
        <fruits :fruit="superfruit" inline-template>
            <div>
                <h1>Component Fruits</h1>
                <h3 v-if="fruit">{{fruit.name}}</h3>
            </div>
        </fruits>
        <hr/>

        <!-- Componentes dentro de componentes -->
        <master></master>
        <hr/>

        <!-- Componentes dinámicos -->
        <h1>Componentes dinámicos</h1>
        <button @click="choosen = 'posts'">Cargar articulos</button>
        <button @click="choosen = 'master'">Cargar master</button>
        <button @click="choosen = 'child'">Cargar child</button>
        <component :is="choosen"></component>


    </main>

    <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>